.advantages {
  background-image: url("../img/content/background_advantages_desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 562px;
}

.advantages__wrapper {
  padding: 110px 0;
  text-align: center;

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages__item {
  width: 360px;
  min-height: 241px;
  background-color: $color-text-white;
  padding: 80px 34px 0 30px;
  margin: auto;
  margin-top: 49px;
  box-sizing: border-box;
  text-align: left;

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 10px;

    br {
      display: none;
    }
  }

  p {
    font-size: 14px;
    line-height: 140%;
    margin: 0;

    br {
      display: none;
    }
  }

  .advantages__zodiac {
    line-height: 140%;
  }
}

.advantages__item-zodiac {
  p {
    br {
      display: inline;
    }

    .advantages__item-zodiac-br-1 {
      display: none;
    }
  }
}

.advantages__item-all-inclusive {
  p {
    br {
      display: inline;
    }

    .advantages__item-all-inclusive-br1,
    .advantages__item-all-inclusive-br2,
    .advantages__item-all-inclusive-br3 {
      display: none;
    }
  }
}

.advantages__a-cruise-ship {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 32px;
    background-image: url("../img/svg/ship.svg");
    background-size: contain;
    top: -48px;
    background-repeat: no-repeat;
  }
}

.advantages__all-inclusive {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 21px;
    background-image: url("../img/svg/double_ok.svg");
    background-size: contain;
    top: -42px;
    background-repeat: no-repeat;
  }
}

.advantages__zodiac {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 15px;
    background-image: url("../img/svg/boat.svg");
    background-size: contain;
    top: -42px;
    background-repeat: no-repeat;
  }
}

@include vp-1023 {
  .advantages {
    min-height: 588px;
  }

  .advantages__wrapper {
    padding: 90px 0;

    h2 {
      font-size: 26px;
    }
  }

  .advantages__item {
    width: 206px;
    min-height: 310px;
    padding: 75px 11px 18px 24px;

    h3 {
      line-height: 140%;

      br {
        display: inline;
      }
    }

    p {
      br {
        display: none;
      }
    }
  }

  .advantages__item-all-inclusive {
    p {
      br {
        display: none;
      }
    }
  }

  .advantages__a-cruise-ship {
    &::before {
      width: 21px;
      height: 26px;
    }
  }

  .advantages__all-inclusive {
    &::before {
      width: 33px;
      height: 19px;
    }
  }

  .advantages__zodiac {
    &::before {
      width: 38px;
      height: 13px;
    }
  }


}

@include vp-767 {
  .advantages__wrapper {
    padding: 62px 0 38px;

    h2 {
      font-size: 24px;
      margin-bottom: 29px;
    }
  }

  .advantages__item {
    width: 290px;
    min-height: 249px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 20px;

    h3 {
      margin-bottom: 5px;
    }

    p {
      br {
        display: inline;
      }
    }
  }

  .advantages__item-zodiac {
    p {
      br {
        display: none;
      }

      .advantages__item-zodiac-br-0 {
        display: inline;
      }

      .advantages__item-zodiac-br-1 {
        display: inline;
      }
    }
  }

  .advantages__item-all-inclusive {
    p {
      br {
        display: inline;
      }

      .advantages__item-all-inclusive-br2 {
        display: inline;
      }
    }
  }

  .advantages__a-cruise-ship {
    &::before {
      width: 21px;
      height: 26px;
    }
  }

  .advantages__all-inclusive {
    &::before {
      width: 33px;
      height: 19px;
    }
  }

  .advantages__zodiac {
    &::before {
      width: 38px;
      height: 13px;
    }
  }
}
