.advantages {
  background-image: url("../../img/content/background_advantages_desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 562px;

  @include vp-1366 {
    min-height: 588px;
  }
}

.advantages__wrapper {
  padding: 120px 0;
  text-align: center;

  h2 {
    margin: 0;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }

  @media (max-width: 1366px) {
    padding: 100px 0;

    h2 {
      font-size: 26px;
    }
  }

  @include vp-767 {
    h2 {
      font-size: 24px;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: 360px;
  min-height: 241px;
  background-color: $color-text-white;
  padding: 70px 34px 0 30px;
  box-sizing: border-box;
  text-align: left;

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 140%;
    margin: 0;
  }

  .advantages__zodiac {
    line-height: 140%;
  }

  @include vp-1366 {
    width: 206px;
    min-height: 310px;
    padding: 65px 18px 18px;

    h3 {
      line-height: 140%;
    }
  }

  @include vp-767 {
    width: 290px;
    min-height: 249px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.advantages__a-cruise-ship {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 32px;
    background-image: url("../../img/svg/ship.svg");
    background-size: contain;
    top: -42px;
    background-repeat: no-repeat;
  }

  @include vp-1366 {
    &::before {
      width: 21px;
      height: 26px;
    }
  }

  @include vp-767 {
    &::before {
      width: 21px;
      height: 26px;
    }
  }
}

.advantages__all-inclusive {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 21px;
    background-image: url("../../img/svg/double_ok.svg");
    background-size: contain;
    top: -42px;
    background-repeat: no-repeat;
  }

  @include vp-1366 {
    &::before {
      width: 33px;
      height: 19px;
    }
  }

  @include vp-767 {
    &::before {
      width: 33px;
      height: 19px;
    }
  }
}

.advantages__zodiac {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 15px;
    background-image: url("../../img/svg/boat.svg");
    background-size: contain;
    top: -42px;
    background-repeat: no-repeat;
  }

  @include vp-1366 {
    &::before {
      width: 38px;
      height: 13px;
    }
  }

  @include vp-767 {
    &::before {
      width: 38px;
      height: 13px;
    }
  }
}
