.cruise-catalog {
  min-height: 1123px;
  text-align: center;
}

.cruise-catalog__wrapper {
  box-sizing: border-box;
  padding: 120px 0 90px;

  @include vp-1366 {
    padding-top: 100px;
    padding-bottom: 70px;
  }

  @include vp-767 {
    padding-top: 65px;
    padding-bottom: 35px;
  }
}

.cruise-catalog__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cruise-catalog__item {
  width: 260px;
  min-height: 386px;
  text-align: left;
  background-color: $color-header-background;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: $color-text-white;
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  dl {
    display: none;
  }

  a {
    display: none;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $color-text-light;
  }

  h3 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
  }

  &:hover {
    padding: 35px 25px;
    background-color: $color-dark-blue;

    img {
      display: none;
    }

    dl {
      display: inline;
      font-weight: 400;
    }

    dd {
      margin: 0;
      margin-bottom: 12px;
    }

    h3 {
      position: static;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      margin: 0;
      margin-bottom: 25px;
    }

    a {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include vp-1366 {
    width: 309px;
    height: 386px;
  }

  @include vp-767 {
    width: 270px;
    height: 386px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.cruise-catalog__elaine {
  padding: 35px 25px;
  background-color: $color-dark-blue;

  img {
    display: none;
  }

  dl {
    display: inline;
    font-weight: 400;
  }

  dd {
    margin: 0;
    margin-bottom: 12px;
  }

  h3 {
    position: static;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 25px;
  }

  .cruise-catalog__button {
    display: block;
  }
}

.cruise-catalog__button {
  width: 100%;
  min-height: 40px;
  border: none;
  background-color: $color-text-white;
}
