.cruise-catalog {
  min-height: 1123px;
  text-align: center;
}

.cruise-catalog__wrapper {
  box-sizing: border-box;
  padding: 87px 0 90px;

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 50px;
  }

  @include vp-1023 {
    padding-top: 71px;
    padding-bottom: 70px;

    h2 {
      font-size: 26px;
    }
  }

  @include vp-767 {
    padding-top: 36px;
    padding-bottom: 35px;

    h2 {
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 31px;
    }
  }
}

.cruise-catalog__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cruise-catalog__item {
  width: 260px;
  height: 385px;
  text-align: left;
  background-color: #011c40;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #f9fbfd;
  position: relative;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-wrap: wrap;
  padding: 29px 25px;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  dl {
    display: none;
  }

  a {
    opacity: 0;
    text-align: center;
    padding: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    user-select: none;
    order: 1;
  }

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
  }

  dd {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $color-text-light;
    margin: 0;
    margin-bottom: 12px;
  }

  h3 {
    position: absolute;
    bottom: 24px;
    left: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin: 0;
    z-index: 1000;
  }

  &:hover {

    img {
      display: none;
    }

    dl {
      display: inline;
      font-weight: 400;
    }

    h3 {
      position: static;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      margin: 0;
      margin-bottom: 14px;
    }

    a {
      opacity: 1;
    }
  }

  @include vp-1023 {
    width: 309px;
    height: 386px;

    h3 {
      bottom: 28px;
      left: 38px;
    }

    &:hover {
      padding: 27px 39px;
    }
  }

  @include vp-767 {
    width: 270px;
    height: 386px;
    margin-right: 10px;
    margin-left: 10px;

    &:hover {
      padding: 29px 26px;
    }

    h3 {
      bottom: 17px;
      left: 25px;
    }
  }
}

.cruise-catalog__button {
  width: 100%;
  min-height: 40px;
  border: none;
  background-color: $color-text-white;

  &:focus {
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    margin-top: 16px;
    z-index: 10;
    margin: 0;

    & ~ picture img {
      display: none;
    }

    & ~ dl {
      display: inline;
      font-weight: 400;
    }

    & ~ h3 {
      position: static;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      margin: 0;
      margin-bottom: 14px;
    }
  }
}
