.description__wrapper {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;

  img {
    width: 560px;
    height: 301px;
  }
}

.description__text-block {
  width: 600px;
  padding: 33px 88px 0 0;
  text-align: left;
  color: $color-text-black;

  br {
    display: none;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
  }

  p {
    line-height: 150%;
  }
}

@include vp-1023 {
  .description__wrapper {
    padding: 72px 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .description__text-block {
    width: 324px;
    padding: 0;
    margin-right: 30px;
    box-sizing: border-box;

    h2 {
      font-weight: 600;
      font-size: 26px;
      line-height: 140%;
      margin-bottom: 10px;
    }

    br {
      display: inline;
    }
  }

  .description__img-wrapper {
    margin-left: auto;
    padding-top: 66px;
    padding-top: 30px;
    box-sizing: border-box;

    img {
      height: 266px;
    }
  }

}

@include vp-767 {
  .description__wrapper {
    padding: 62px 0;
    flex-wrap: wrap;

    h2 {
      margin-top: -2px;
      margin-bottom: 14px;
      font-size: 24px;
      line-height: 140%;
      br {
        display: inline;
      }
    }

    br {
      display: none;
    }

    img {
      width: 290px;
      height: 186px;
    }

    p {
      margin-top: 0;
    }
  }

  .description__text-block {
    width: 100%;
    margin-right: 0;

    p {
      margin-bottom: 0;
    }
  }

  .description__img-wrapper {
    margin: 0 auto;
  }
}
