.early-booking {
  min-height: 554px;
  background-image: url("../img/content/background_booking_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/content/background_booking_desktop@2x.jpg");
  }

  @include vp-1023 {
    min-height: 805px;
    background-image: url("../img/content/background_booking_tablet.jpg");

    @include retina {
      background-image: url("../img/content/background_booking_tablet@2x.jpg");
    }
  }

  @include vp-767 {
    min-height: 760px;
    background-image: url("../img/content/background_booking_mobile.jpg");

    @include retina {
      background-image: url("../img/content/background_booking_mobile@2x.jpg");
    }
  }
}

.early-booking__wrapper {
  padding: 50px 60px;
  box-sizing: border-box;
  display: flex;

  input {
    font-size: 14px;
    line-height: 150%;
  }

  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 0;
    margin-top: 9px;
  }

  p {
    font-size: 18px;
    line-height: 150%;
    margin-top: 0;

    .early-booking__text-space {
      display: none;
    }

    .early-booking__form-field-br {
      display: none;
    }
  }

  @include vp-1366 {
    padding-left: 0;
    padding-right: 0;
  }

  @include vp-1023 {
    padding: 86px 0;
    flex-wrap: wrap;
    text-align: center;

    h3 {
      font-size: 34px;
      line-height: 150%;
      margin-top: 0;
      margin-bottom: 5px;
    }

    p {
      .early-booking__text-space {
        display: none;
      }
    }
  }

  @include vp-767 {
    padding: 59px 0;

    h3 {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 14px;
    }

    p {
      font-size: 16px;
      line-height: 140%;

      br {
        display: none;
      }

      .early-booking__text-space {
        display: inline;
      }

      .early-booking__form-field-br {
        display: inline;
      }
    }
  }
}

.early-booking__text-wrapper {
  width: 690px;
  align-self: center;

  @include vp-1023 {
    width: 100%;
    margin-bottom: 34px;
  }

  @include vp-767 {
    padding: 0 10px;
    margin-bottom: 16px;
  }
}

.early-booking__form-field {
  width: 430px;
  height: 455px;
  background-color: $color-text-black;
  padding: 44px 50px;
  box-sizing: border-box;
  color: $color-text-white;
  margin-left: auto;
  position: relative;

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 26px;
  }

  label {
    display: none;

    br {
      display: none;
    }
  }

  input {
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    padding: 11px 16px;
    box-sizing: border-box;
    border: none;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: -1;
    opacity: 0;
    left: 37px;
    bottom: 96px;
  }

  input[type="checkbox"]:focus + label::before {
    outline-offset: 2px;
    outline: 2px solid $color-text-white;
  }


  input[type="checkbox"] + label {
    display: inline;
    font-size: 10px;
    line-height: 130%;
    position: relative;
    margin-left: 23px;
    cursor: pointer;



    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: $color-text-white;
      left: -23px;
    }
  }

  input[type="checkbox"]:checked + label {
    display: inline;
    font-size: 10px;
    line-height: 130%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 13px;
      background-image: url("../img/svg/ok.svg");
      background-repeat: no-repeat;
      left: -20px;
      bottom: -1px;
    }
  }

  button {
    width: 100%;
    height: 43px;
    border: none;
    background-color: $color-text-white;
    margin-top: 29px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    user-select: none;
  }

  @include vp-1366 {
    button {
      margin-top: 14px;
    }
  }

  @include vp-1023 {
    margin: 0 auto;

    p {
      font-size: 18px;
      line-height: 150%;
      text-align: left;

      br {
        display: none;
      }
    }

    label {
      br {
        display: none;
      }
    }
  }

  @include vp-767 {
    min-height: 460px;
    padding: 36px 30px;
    width: 100%;

    button {
      margin-top: 23px;
    }

    p {
      font-size: 18px;
      line-height: 140%;
      text-align: center;
    }

    input[type="checkbox"] + label {
      font-size: 10px;
      display: flex;
      align-items: center;
      text-align: left;
      min-height: 28px;
      width: 90%;
      margin-left: 27px;

      br {
        display: inline;
      }


      &::before {
        left: -26px;
        top: 2px;
      }
    }

    input[type="checkbox"]:checked + label {
      display: flex;
      text-align: left;
      align-items: center;
      min-height: 28px;

      &::after {
        left: -23px;
        bottom: 7px;
      }
    }

    input {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }
}
