.early-booking {
  min-height: 616px;
  background-image: url("../../img/content/background_booking_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../../img/content/background_booking_desktop@2x.jpg");
  }

  @include vp-1366 {
    min-height: 805px;
    background-image: url("../../img/content/background_booking_tablet.jpg");

    @include retina {
      background-image: url("../../img/content/background_booking_tablet@2x.jpg");
    }
  }

  @include vp-767 {
    min-height: 805px;
    background-image: url("../../img/content/background_booking_mobile.jpg");

    @include retina {
      background-image: url("../../img/content/background_booking_mobile@2x.jpg");
    }
  }
}

.early-booking__wrapper {
  padding: 50px 60px;
  box-sizing: border-box;
  display: flex;

  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
    line-height: 150%;

    .early-booking__text-space {
      display: none;
    }
  }

  @include vp-1366 {
    padding: 100px 0;
    flex-wrap: wrap;
    text-align: center;

    h3 {
      font-size: 34px;
      line-height: 150%;
      margin-top: 0%;
    }

    p {
      .early-booking__text-space {
        display: none;
      }
    }
  }

  @include vp-767 {
    padding: 65px 0;

    h3 {
      font-size: 24px;
      line-height: 130%;
    }

    p {
      font-size: 16px;
      line-height: 140%;

      br {
        display: none;
      }

      .early-booking__text-space {
        display: inline;
      }
    }
  }
}

.early-booking__text-wrapper {
  width: 1fr;
  align-self: center;

  @include vp-1366 {
    width: 100%;
  }
}

.early-booking__form-field {
  width: 403px;
  height: 455px;
  background-color: $color-text-black;
  padding: 50px;
  box-sizing: border-box;
  color: $color-text-white;
  margin-left: auto;

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-top: 0;
  }

  label {
    display: none;
  }

  input {
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    padding: 11px 16px;
    box-sizing: border-box;
    border: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    display: inline;
    font-size: 10px;
    line-height: 130%;
    position: relative;
    margin-left: 23px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background-color: $color-text-white;
      left: -23px;
    }
  }

  input[type="checkbox"]:checked + label {
    display: inline;
    font-size: 10px;
    line-height: 130%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 13px;
      background-image: url("../../img/svg/ok.svg");
      background-repeat: no-repeat;
      left: -20px;
      bottom: -1px;
    }
  }

  button {
    width: 100%;
    height: 43px;
    border: none;
    background-color: $color-text-white;
    margin-top: 35px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }

  @include vp-1366 {
    margin: 0 auto;
  }

  @include vp-767 {
    min-height: 460px;
    padding: 40px 30px;

    p {
      line-height: 140%;
    }

    input[type="checkbox"] + label {
      font-size: 10px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: left;
      min-height: 28px;

      &::before {
        left: -24px;
      }
    }

    input[type="checkbox"]:checked + label {
      display: flex;
      text-align: left;
      align-items: center;
      min-height: 28px;

      &::after {
        left: -21px;
        bottom: 5px;
      }
    }
  }
}
