.footer {
  background-color: $color-dark-blue;
  min-height: 138px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  a {
    cursor: auto;
  }

  @include vp-1023 {
    min-height: 120px;
  }

  @include vp-767 {
    min-height: 283px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .logo-footer {
    width: 70px;
    height: 38px;
    fill: $color-text-white;
    margin-right: 9px;
  }

  @include vp-1023 {
    .logo-footer {
      width: 38px;
      height: 20px;
      margin-right: 2px;
    }
  }

  @include vp-767 {
    padding: 40px 0;

    .logo-footer {
      width: 42px;
      height: 22px;
    }
  }
}

.footer__list-nav.nav-list {
  width: 626px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  @include vp-1366 {
    width: 579px;
  }

  @include vp-1023 {
    width: 470px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 17px;
  }
}

.footer__list-nav-item.nav-list__item {

  @include vp-1023 {
    padding-left: 25px;

    a {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @include vp-767 {
    padding: 0;

    a {
      color: $color-text-white;
    }
  }
}

.footer__social {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  padding: 0 0 10px;

  svg {
    margin-left: 33px;
    margin-top: 10px;
    cursor: pointer;
  }

  @include vp-1023 {
    width: 114px;

    svg {
      margin-left: 20px;
      width: 18px;
      height: 16px;
    }
  }

  @include vp-767 {
    width: 100%;

    svg {
      margin-left: 0;
      margin-right: 16px;
    }
  }
}
