.footer {
  background-color: $color-dark-blue;
  min-height: 138px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1439 {
    min-height: 120px;
  }

  @include vp-767 {
    min-height: 283px;
  }
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .logo-footer {
    width: 70px;
    height: 38px;
    fill: $color-text-white;
    margin-right: 40px;
  }

  @include vp-1439 {
    .logo-footer {
      width: 38px;
      height: 20px;
      margin-right: 2px;
    }
  }

  @include vp-767 {
    padding: 40px 0;

    .logo-footer {
      width: 42px;
      height: 22px;
    }
  }
}

.footer__list-nav.nav-list {
  width: 626px;
  box-sizing: border-box;

  @include vp-1439 {
    width: 462px;
  }

  @include vp-767 {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.footer__list-nav-item.nav-list__item  {
  @include vp-1439 {
    width: 175x;

    a {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @include vp-767 {
    padding: 0;
    a {
      color: $color-text-white;
    }
  }
}

.footer__social {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;

  svg {
    margin-left: 33px;
  }

  @include vp-1439 {
    width: 132px;

    svg {
      margin-left: 23px;
    }
  }

  @include vp-767 {
    width: 100%;

    svg {
      margin-left: 0;
      margin-right: 23px;
    }
  }
}
