.header {
  margin: 0 auto;
  background-image: url("../../img/content/backgrond_header_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 1366px;
  min-height: 650px;

  @include retina {
    background-image: url("../../img/content/backgrond_header_desktop@2x.jpg");
  }

  @include vp-1439 {
    min-width: 768px;
    min-height: 638px;
    background-image: url("../../img/content/backgrond_header_tablet.jpg");

    @include retina {
      background-image: url("../../img/content/backgrond_header_tablet@2x.jpg");
    }
  }

  @include vp-767 {
    min-width: 320px;
    min-height: 500px;
    background-image: url("../../img/content/backgrond_header_mobile.jpg");

    @include retina {
      background-image: url("../../img/content/backgrond_header_mobile@2x.jpg");
    }
  }
}

.header__active {
  @include vp-767 {
    position: absolute;
    right: 0;
  }
}





