.header {
  margin: 0 auto;
  background-image: url("../img/content/backgrond_header_desktop.jpg");
  background-repeat: no-repeat;
  background-color: $color-header-background;
  background-size: cover;
  background-position: center;
  min-width: 1024px;
  min-height: 650px;
  position: relative;

  @include retina {
    background-image: url("../img/content/backgrond_header_desktop@2x.jpg");
  }
}

@include vp-1023 {
  .header {
    min-width: 768px;
    min-height: 638px;
    background-image: url("../img/content/backgrond_header_tablet.jpg");

    @include retina {
      background-image: url("../img/content/backgrond_header_tablet@2x.jpg");
    }
  }
}

@include vp-767 {
  .header {
    min-width: 320px;
    min-height: 500px;
    background-image: url("../img/content/backgrond_header_mobile.jpg");

    @include retina {
      background-image: url("../img/content/backgrond_header_mobile@2x.jpg");
    }
  }

  .header__active {
    position: absolute;
    right: 0;
  }
}
