.main__opasity {
  &::after {
    opacity: 0;
  }

  @include vp-767 {
    &::after {
      content: "";
      width: 100%;
      height: 1000%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.3;
    }
  }
}

.main__overflow {
  overflow: hidden;
}
