.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 623px;
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
    width: 524px;
  }

  @include vp-767 {
    width: 220px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 55px;
  }
}

.nav-list__item {
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 32px;

  a {
    color: $color-text-white;
  }

  @include vp-1023 {
    padding-left: 23px;
  }

  @include vp-767 {
    width: 240px;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;

    a {
      color: $color-text-black;
    }
  }
}

.nav-list--closed {
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
  }

  @include vp-767 {
    display: none;
  }
}

.nav-list--open {
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
  }

  @include vp-767 {
    display: block;
  }
}

.nav-list--no-js.is-open {
  width: 100%;
  position: static;
  height: 568px;

  & .nav__button {
    display: none;
  }
}
