.nav {
  min-height: 108px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: $color-text-white;

  a {
    cursor: auto;
    margin-top: 35px;
    margin-bottom: auto;
  }

  svg {
    width: 70px;
    height: 38px;
    fill: $color-text-white;
  }

  @include vp-1023 {
    min-height: 82px;

    a {
      margin-top: 30px;
    }

    svg {
      width: 42px;
      height: 22px;
    }
  }

  @include vp-767 {
    width: 285px;
    display: block;
    padding: 20px 15px 20px 15px;

    svg {
      width: 42px;
      height: 22px;
      position: absolute;
      left: 5%;
    }
  }
}

.is-open {
  @include vp-767 {
    background-color: $color-text-white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;

    svg {
      fill: $color-text-black;
    }

    .nav__list {
      display: block;
    }

    .nav__button-close {
      display: block;
    }
  }
}

.nav__button-close {
  display: none;

  @include vp-767 {
    background-color: inherit;
    display: block;
    border: none;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 15px;
    top: 25px;

    &::before {
      position: absolute;
      top: 0;
      right: 6px;
      content: "";
      width: 2px;
      height: 15px;
      transform: rotate(45deg);
      background-color: $color-text-black;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 6px;
      content: "";
      width: 2px;
      height: 15px;
      transform: rotate(-45deg);
      background-color: $color-text-black;
    }
  }
}

.nav__button {
  display: none;

  @include vp-767 {
    cursor: pointer;
    background-color: inherit;
    display: block;
    border: none;
    width: 24px;
    height: 12px;
    position: absolute;
    right: 10px;
    top: 25px;

    &::before {
      position: absolute;
      top: 0;
      right: 6px;
      content: "";
      width: 24px;
      height: 2px;
      background-color: $color-text-white;
      box-shadow: 0 5px 0 $color-text-white, 0 10px 0 $color-text-white;
    }
  }
}
