.promo {
  margin-top: 163px;
  padding: 0 95px;
  text-align: left;
  color: $color-text-white;

  br {
    display: none;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    margin-bottom: 0;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
  }

  @include vp-1023 {
    margin-top: 186px;
    padding: 0 4px;

    h2 {
      margin-bottom: 0;
      margin-bottom: 13px;
      font-size: 50px;
      line-height: 61px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 22px;
    }
  }

  @include vp-767 {
    margin-top: 94px;

    br {
      display: inline;
    }

    h2 {
      font-size: 11.3vw;
      line-height: 125%;
      margin-bottom: 11px;
    }

    p {
      font-size: 3.55vw;
      line-height: 140%;
    }
  }
}
