.promo {
  margin-top: 163px;
  padding: 0 95px;
  text-align: left;
  color: $color-text-white;

  br {
    display: none;
  }

  h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    display: flex;
    align-items: center;
    color: #F9FBFD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
}

@include vp-1023 {
  .promo {
    margin-top: 186px;
    padding: 0 4px;

    h2 {
      margin-bottom: 0;
      margin-bottom: 13px;
      font-size: 50px;
      line-height: 61px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

@include vp-767 {
  .promo {
    margin-top: 94px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;

    br {
      display: inline;
    }

    h2 {
      font-size: 11.3vw;
      line-height: 125%;
      margin-bottom: 11px;
    }

    p {
      font-size: 4.95vw;
      line-height: 140%;
    }
  }
}
